services:
  php:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    container_name: prueba_tecnica_php
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
      - ./docker/php/php.ini:/usr/local/etc/php/conf.d/custom.ini
    ports:
      - "${APP_PORT:-8777}:8000"
    depends_on:
      database:
        condition: service_healthy
    networks:
      - app-network
    environment:
      - DATABASE_URL=postgresql://app:app@database:5432/app?serverVersion=16&charset=utf8
      - APP_ENV=dev
    command: php -S 0.0.0.0:8000 -t public

  database:
    image: postgres:16-alpine
    container_name: prueba_tecnica_postgres
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d app"]
      interval: 5s
      timeout: 5s
      retries: 10

networks:
  app-network:
    driver: bridge

volumes:
  db_data:

