parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    # Make classes in src/ available to be used as services
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/*/Domain/Entity/'
            - '../src/*/Domain/ValueObject/'
            - '../src/Kernel.php'

    # Shared Services
    App\Shared\Domain\Service\UuidGenerator:
        class: App\Shared\Infrastructure\Service\RamseyUuidGenerator

    # Repository Interfaces
    App\Product\Domain\Repository\ProductRepository:
        class: App\Product\Infrastructure\Persistence\DoctrineProductRepository

    App\Order\Domain\Repository\OrderRepository:
        class: App\Order\Infrastructure\Persistence\DoctrineOrderRepository

    App\Customer\Domain\Repository\CustomerRepository:
        class: App\Customer\Infrastructure\Persistence\DoctrineCustomerRepository

    # Handlers
    App\Product\Application\CreateProduct\CreateProductHandler: ~
    App\Product\Application\ListProducts\ListProductsHandler: ~

    App\Order\Application\CreateOrder\CreateOrderHandler: ~
    App\Order\Application\GetOrderDetail\GetOrderDetailHandler: ~
    App\Order\Application\CheckoutOrder\CheckoutOrderHandler: ~

    App\Customer\Application\SimulatedLogin\SimulatedLoginHandler: ~
