parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    # Make classes in src/ available to be used as services
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/*/Domain/Entity/'
            - '../src/*/Domain/ValueObject/'
            - '../src/Kernel.php'

    # Controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    App\Product\Infrastructure\Controller\:
        resource: '../src/Product/Infrastructure/Controller/'
        tags: ['controller.service_arguments']

    App\Order\Infrastructure\Controller\:
        resource: '../src/Order/Infrastructure/Controller/'
        tags: ['controller.service_arguments']

    App\Customer\Infrastructure\Controller\:
        resource: '../src/Customer/Infrastructure/Controller/'
        tags: ['controller.service_arguments']

    App\Shared\Infrastructure\Controller\:
        resource: '../src/Shared/Infrastructure/Controller/'
        tags: ['controller.service_arguments']

    # Shared Services
    App\Shared\Domain\Service\UuidGenerator:
        class: App\Shared\Infrastructure\Service\RamseyUuidGenerator

    # Repository Interfaces
    App\Product\Domain\Repository\ProductRepository:
        class: App\Product\Infrastructure\Persistence\DoctrineProductRepository

    App\Order\Domain\Repository\OrderRepository:
        class: App\Order\Infrastructure\Persistence\DoctrineOrderRepository

    App\Customer\Domain\Repository\CustomerRepository:
        class: App\Customer\Infrastructure\Persistence\DoctrineCustomerRepository

    # Handlers
    App\Product\Application\CreateProduct\CreateProductHandler: ~
    App\Product\Application\ListProducts\ListProductsHandler: ~

    App\Order\Application\CreateOrder\CreateOrderHandler: ~
    App\Order\Application\GetOrderDetail\GetOrderDetailHandler: ~
    App\Order\Application\CheckoutOrder\CheckoutOrderHandler: ~

    App\Customer\Application\Login\LoginHandler: ~

    # Security Attribute Listener
    App\Shared\Infrastructure\Security\EventListener\SecurityAttributeListener:
        tags:
            - { name: kernel.event_subscriber }

when@test:
    services:
        _defaults:
            public: true
